/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  color: white;
}

.container {
  max-width: 390px;
  margin: 0 auto;
  padding: 0 16px;
}

.hero {
  
  text-align: center;
}

.hero-logo {
  width: 360px;
  height: 53px;
  margin: 30px auto 20px;
  display: block;
}

.hero-image {
  width: 300px;
  height: 300px;
  margin: 0 auto 60px;
  display: block;
}

.hero h1 {
  font-size: 28px;
  font-weight: 1000;
  line-height: 1.4;
  color: white;
  margin: 0 auto;
}

.hero .highlight {
  color: #6CC07D;
}

.subtitle {
  font-size: 16px;
  color: #B3B3B3;
  margin: 90px auto ;
  max-width: 280px;
}
